---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <div class="bg-gray-100 p-4">
    <h1 class="text-2xl font-bold">Welcome to Astro</h1>
    <p class="text-lg">
      This is a simple example of how to use Astro with Tailwind CSS.
    </p>

    <h1>Welcome to Astro</h1>
    <button id="login">Iniciar sesión</button>
    <button id="logout">Cerrar sesión</button>
  </div>
  <script>
    const { signIn, signOut } = await import('auth-astro/client');
    const loginButton = document.querySelector('#login') as HTMLButtonElement;
    const logoutButton = document.querySelector('#logout') as HTMLButtonElement;
    if (loginButton) {
      loginButton.onclick = () => signIn('github');
    }

    if (logoutButton) {
      logoutButton.onclick = () => signOut();
    }
  </script>
</Layout>
